<html>
  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script type="text/javascript" src="js/backbone.localStorage-min.js "></script>
    <script type="text/javascript" src="js/counts.js "></script>
  </head>
  <body>
    <div>Hello User. Welcome to countable.</div>
    <div id="app-container">
      <div id="add-count">
        <button>Add Count</button>
      </div>
      <div>
      	<div id="counts-start">
      	</div>
      	<!-- 	-->
      </div>
    </div>

    <!-- templates -->
    <script type="text/template" id="count-template">
	    <div class="count-holder">
	      <div class="count-show"><%- count %></div>
	      <div class="count-increment">
	      	<button>+</button>
	      </div>
	      <div class="count-decrement">
	      	<button>-</button>
	      </div>
	      <label><%- username %></label>
	    </div>
    </script>
  </body>
</html>
